@using PostMateApp.Core.Application.ViewModels.User;
@model UpdateUserViewModel;
@{
    ViewData["Title"] = "Editar Usuario";

}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card border-0 rounded-3">
                <div class="card-header bg-warning bg-gradient text-dark p-2">
                    <h4 class="m-2 display-6">Editar usuario</h4>
                </div>
                <div class="card-body">
                    <form method="post" asp-controller="Account" asp-action="Edit" enctype="multipart/form-data">
                        @if (!ViewData.ModelState.IsValid)
                        {
                            @Html.ValidationSummary(false, "", new { @class = "alert alert-danger" })
                        }
                        @if (Model.HasError)
                        {
                            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                                <p>@Model.Error</p>
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        }
                        <div class="mb-3">
                            <label asp-for="Firstname" class="form-label custom-dark-color fw-bold">Nombre</label>
                            <input asp-for="Firstname" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Lastname" class="form-label custom-dark-color fw-bold">Apellido</label>
                            <input asp-for="Lastname" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Email" class="form-label custom-dark-color fw-bold">Email</label>
                            <input asp-for="Email" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="Phone" class="form-label custom-dark-color fw-bold">Número telefónico</label>
                            <input asp-for="Phone" class="form-control" />
                        </div>

                        <div class="alert alert-warning m-2" role="alert">
                            En caso de no registrar una nueva contraseña permanecerá la existente.
                        </div>

                        <div class="mb-3">
                            <label asp-for="Password" class="form-label custom-dark-color fw-bold">Contraseña</label>
                            <input asp-for="Password" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="ConfirmPassword" class="form-label custom-dark-color fw-bold">Confirmar Contraseña</label>
                            <input asp-for="ConfirmPassword" class="form-control" />
                        </div>

                        <div class="mb-3">
                            <label asp-for="File" class="form-label fw-bold">Seleccione una foto de perfil:</label>
                             <input asp-for="File" class="form-control" />
                            <span asp-validation-for="File" class="text-danger"></span>
                        </div>

                        <input type="hidden" asp-for="Id" />
                        <input type="hidden" asp-for="Username" />
                        <input type="hidden" asp-for="ProfileImg" />

                        <div class="d-flex justify-content-end">
                            <a asp-controller="Account" asp-action="Index" class="btn btn-outline-dark m-2">Volver atrás</a>
                            <button type="submit" class="btn btn-warning m-2">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
