@using PostMateApp.Core.Application.ViewModels.User;
@using PostMateApp.Core.Application.Helpers;
@using PostMateApp.Core.Application.DTOs.Account;
@using Microsoft.AspNetCore.Http;
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}


@if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@ViewBag.ErrorMessage</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

@if (!string.IsNullOrEmpty(ViewData["Error"] as string))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <p>@ViewData["Error"]</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="row justify-content-center p-4">

        <div class="col-6 p-5 bg-warning bg-gradient d-flex flex-column justify-content-center align-items-center">
            <div>
                <h1 class="display-5 fw-bold fst-italic custom-light-color text-center">PostMate</h1>
            </div>
            <div class="mt-2">
                <a asp-controller="Account" asp-action="Register" class="btn btn-outline-dark">Regístrate</a>
            </div>
        </div>

        <div class="col-6 p-5 register-bg-color bg-gradient d-flex flex-column justify-content-center align-items-center">
            <form method="post" asp-controller="Account" asp-action="Index">
                @if (Model.HasError)
                {
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <p>@Model.Error</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                <div class="mb-3">
                    <label asp-for="Username" class="fw-bold text-dark mb-2">Nombre de usuario</label>
                    <input class="form-control" asp-for="Username">
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="fw-bold text-dark mb-2">Contraseña</label>
                    <input class="form-control" asp-for="Password">
                </div>

                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark me-2">Iniciar Sesión</button>
                    <a asp-controller="Account" asp-action="ResetPassword" class="btn btn-outline-dark float-end me-2">Reset Contraseña</a>
                </div>
            </form>
        </div>

    </div>
</div>