@using PostMateApp.Core.Application.ViewModels.User;
@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Contraseña";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-warning bg-gradient text-dark">
                    <h4 class="m-2 display-6 fw-bold">Reset Contraseña</h4>
                </div>
                <div class="card-body">
                    @if (Model.HasError)
                    {
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            <p>@Model.Error</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    }
                    <form method="post" asp-controller="Account" asp-action="ResetPassword">
                        <div class="mb-3">
                            <label asp-for="Username" class="form-label">Nombre de usuario: </label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn btn-warning m-2">Reset</button>
                            <a asp-controller="Account" asp-action="Index" class="btn btn-outline-dark m-2">Volver atrás</a>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
